{% extends version + "/layout.html" %}

{% block page_title %}
  Agent Search - GOV.UK prototype kit
{% endblock %}

{% block content %}
  {% import version + "/macros/elements.html" as elements %}
  {% for page in data %}
    {% for content in page.agent_search %}

      <div class="main" role="main" id="content">
        {{ elements.banner() }}

        {{ elements.openGridForm('agent_search') }}

          {{ elements.header(content) }}

          {{ elements.inputField('claimantId','Claimant ID - the URL at the top of the customer claim details view', false,'1-2','',type='text') }}

          {{ elements.inputField('partialBankAccountNumber','Last 4 digits of bank account number in the final declaration – bank details view', false,'1-2','',type='text') }}

          {{ elements.inputField('sortCode','Sort code in the final declaration – bank details view', false,'1-2','',type='text') }}

          {{ elements.continue(content, 'agent_search') }}

        {{ elements.closeGridForm() }}
      </div>

    {% endfor %}
  {% endfor %}
{% endblock %}
