{% extends version + "/layout.html" %}

{% block page_title %}
  Confirm the payment - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.enter_bank_details %}

    <div class="main" role="main" id="content">
    {{ elements.banner() }}

    {{ elements.openGridForm('enter_bank_details') }}

      {% if errors %}
        {{ elements.errorSummaryBox(errors) }}
      {% endif %}

      {{ elements.header(content) }}
      {{ elements.content(content.text, content.text4) }}

      {{ elements.inputField(
        id = 'sortCode',
        content = 'Sort code',
        size = '1-4',
        value = values.sortCode,
        type='text',
        errorMessage=errors.sortCode
      ) }}

      {{ elements.inputField(
        id='accountNumber',
        content='Account number',
        size='1-2',
        value=values.accountNumber,
        type='text',
        errorMessage=errors.accountNumber
      ) }}




      {{ elements.continue(content, 'uc_login', 'side') }}

    {{ elements.closeGridForm() }}
    </div>

{% endfor %}
{% endfor %}
{% endblock %}
