{% extends version + "/layout.html" %}

{% block page_title %}
  Have a roll number - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.has_roll_number %}

    <div class="main" role="main" id="content">

    {{ elements.banner() }}

    {{ elements.openGridForm('has_roll_number') }}
      {% if errors %}
        {{ elements.errorSummaryBox(errors) }}
      {% endif %}
      {{ elements.header(content) }}
      {{ elements.content(content.text) }}
      
      <fieldset class="form-group">
        <legend>
          <h1 class="heading-medium" style="margin-top: 10px;">
            Does your bank account have a building society roll number?
          </h1>
        </legend>
        <details>
          <summary class="summary">{{ content.summary }}</summary>
            <div class="panel panel-border-narrow" id="details-content-0" style="margin-bottom: 10px;">
              {{ content.details }}
            </div>
        </details>
        <div class="multiple-choice">
          <input id="rollNumber_1" type="radio" name="rollNumber" value="Yes">
          <label for="rollNumber_1">Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="rollNumber_2" type="radio" name="rollNumber" value="No">
          <label for="rrollNumber_2">No</label>
        </div>
      </fieldset>

      {{ elements.continue(content, 'uc_login', 'side') }}

    {{ elements.closeGridForm() }}
    </div>

{% endfor %}
{% endfor %}
{% endblock %}
