{% extends version + "/layout.html" %}

{% block page_title %}
  Have a roll number - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.has_roll_number %}

    <div class="main" role="main" id="content">

    {{ elements.banner() }}

    {{ elements.openGridForm('has_roll_number') }}
      {% if errors %}
        {{ elements.errorSummaryBox(errors) }}
      {% endif %}
      {{ elements.header(content) }}
      {{ elements.content(content.text) }}

      <details>
          <summary class="summary">{{ content.summary }}</summary>
            <div class="panel panel-border-narrow" id="details-content-0">
              {{ content.details }}
            </div>
      </details>

      <div id="rollNumber" class="form-group {% if errors %} form-group-error {% endif %}">
        {{ elements.radioButtons(
          'rollNumber',
          'Does your bank account have a building society roll number?',
          '',
          content.radios,
          '',
          type='radio',
          errorMessage=errors[0].msg
        ) }}
      </div>

      {{ elements.continue(content, 'uc_login', 'side') }}

    {{ elements.closeGridForm() }}
    </div>

{% endfor %}
{% endfor %}
{% endblock %}
