{% extends "layout.html" %}

{% block page_title %}
  Confirm the payment - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import "pyi8/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.bank_details %}

    {{ elements.account() }}
    <div class="main" role="main" id="content">
    {{ elements.banner() }}

    {{ elements.openGridForm('bank_details') }}

    <div class="exit-link-side inline-button"><a href="/pyi8/how_verify">< Back</a></div>

            {{ elements.header(content) }}
          <!--  {{ elements.table(content.tabContent,'bank-details-table') }} -->
          <div class="form-group">
          <h2 class="heading-large no-margin">How it works</h4>
          <p>Check your bank account using online, mobile or telephone banking to find the reference.</p>
          <p>Tell us the reference and you've proved your identity.</p>
          </div>

            {{ elements.continue(content) }}

    {{ elements.closeGridForm() }}
  </div>

{% endfor %}
 {% endfor %}
  {% endblock %}
