{% extends "layout.html" %}

{% block page_title %}
  Use your bank account - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import "pyi8/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.reminder %}

  {{ elements.account() }}
  <div class="main" id="content" role="main">
  {{ elements.banner() }}

  {{ elements.openGridForm('reminder') }}

    {{ elements.heading('2', 'large lower-space', content.heading) }}
    {{ elements.content(content.lede,'','',true) }}
    {{ elements.continue(content,'bank_submitted','side') }}

  {{ elements.closeGridForm() }}
  </div>

{% endfor %}
{% endfor %}
{% endblock %}
