{% extends "layout.html" %}

{% block page_title %}
  Confirm the payment - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import "pyi9/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.changes_made %}

  <div class="main" role="main" id="content">

    {{ elements.header(content) }}
    {{ elements.unorderedList(content.changeOne,content.listOne) }}

        <a class="button browser-back">Back</a>

</div>
{% endfor %}
 {% endfor %}
  {% endblock %}
