{% extends "layout.html" %}

{% block page_title %}
  Prove your identity - GOV.UK prototype kit
{% endblock %}

{% block content %}

{% import "pyi9/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.how_verify %}

    {{ elements.account() }}
<div class="main" id="content" role="main">
    {{ elements.banner() }}
    {{ elements.toDoSection() }}
    {{ elements.openGridForm('how_verify') }}


        {{ elements.heading('3', 'interim', content.toDoTask) }}
        {{ elements.header(content) }}
        <p class="form-hint">Do this online with GOV.UK Verify - it'll save you spending extra time in the jobcentre</p>
        <!-- {{ elements.content(content.revealContent) }} -->
        <!-- {{ elements.radioButtons('howVerify',content.question,'',content.radios) }} -->
        <!-- {{ elements.continue(content) }} -->

        <input class="button button-break" type="submit" name="submit" value="Go to GOV.UK Verify">
        <!-- <br /> -->
        <input class="button button-break" type="submit" name="submit" value="Go to Prove Your Identity">

        <details>{{ elements.panel(content.panelText, 'grey')}}
          <summary>I can't do this online</summary>
        </details>

        <a class="margined-back" href="/pyi9/to_do_page">Back</a>




{{ elements.closeGridForm() }}
</div>
    {% endfor %}
    {% endfor %}
    {% endblock %}
