{% extends "layout.html" %}

{% block page_title %}
  Reference number accepted - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import "pyi13/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.success %}

  {{ elements.account() }}
<div class="main" id="content" role="main">
  {{ elements.banner() }}

{{ elements.openGridForm('success') }}

        {{ elements.header(content) }}
        {{ elements.continue(content,'to_do_page','side') }}

{{ elements.closeGridForm() }}
</div>

{% endfor %}
{% endfor %}
{% endblock %}
