{% extends version + "/layout.html" %}

{% block page_title %}
  Confirm the payment - GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="main" role="main" id="content">
    
    {% include version + '/includes/phase_banner_prototype.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <form action="/{{ version }}/bank_details" method="post" class="form" >
  
          <header>
            <h1 class="heading-xlarge form-title">
              Use your bank account to prove your identity
            </h1>
          </header>
          
          <p>This is a secure government service to prove your identity.</p>

          <div class="inline-button"><input type="submit" class="button" value="Next" name="submit"></div>

          <div class="exit-link-side inline-button"><a href="/{{ version }}/uc_login">Go to Universal Credit sign in</a></div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
