{% extends version + "/layout.html" %}

{% block page_title %}
  Find your reference - GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="main" id="content" role="main">
    
    {% include version + '/includes/phase_banner_prototype.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <form action="/{{ version }}/bank_submitted" method="post" class="form" >

          <header>
            <h1 class="heading-xlarge form-title ">
              Find your reference
            </h1>
          </header>
          <p class="lede">
            A reference from Universal Credit has been sent to your bank account. It might take up to 2 hours to appear.
          </p>

          <p>It will be a 6-digit code on your bank statement, for example 12 34 56.</p>

          <div class="inline-button">
            <input type="submit" class="button" value="Enter your reference" name="submit">
          </div>

          <div class="exit-link-side inline-button">
            <a href="/{{ version }}/reminder">Enter your reference later</a>
          </div>

        </form>
      </div>
    </div>

  </div>

{% endblock %}
