{% extends version + "/layout.html" %}

{% block page_title %}
  Reference not recognised - GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="main" id="content" role="main">
    {% include version + '/includes/phase_banner_prototype.html' %}  
    <div class="grid-row">
      <div class="column-two-thirds">
        <form action="/{{ version }}/failure" method="post" class="form" >
          <header>
            <h1 class="heading-xlarge form-title ">
              You have not been able to give the correct reference
            </h1>
          </header>
          <p class="lede">
            Sign in to Universal Credit to book an appointment at a job centre, if you haven’t already.
          </p>

          <p>You’ll need to bring your identity documents with you.</p>

          <div class="exit-link">
            <a href="/{{ version }}/uc_login">Go to Universal Credit sign in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
