{% extends version + "/layout.html" %}

{% block page_title %}
  Have a roll number - GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="main" role="main" id="content">

    {% include version + '/includes/phase_banner_prototype.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">

        {% if errors %}
          <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
              There's a problem
            </h2>
            <p>You must:</p>
              <ul class="error-summary-list">
                {% for id, error in errors %}
                  <li><a href="#{{ id }}">{{ error }}</a></li>
                {% endfor %}
              </ul>
          </div>
        {% endif %}

        <form action="/{{ version }}/has_roll_number" method="post" class="form" >

          <header>
            <h1 class="heading-xlarge form-title ">
              Bank account details: roll number
            </h1>
          </header>

          <p class="lede">
            Some accounts need a roll or reference number for payments.
          </p>

          <p>You’ll find this on your card, statement or passbook.</p>

          <div id="rollNumber" class="form-group {% if errors.rollNumber %}form-group-error{% endif %}">
            <div>
              <fieldset class="form-group">
                <legend class="form-label-bold">
                  Does your bank account have a building society roll number?
                </legend>

                <details>
                  <summary class="summary">What's a roll number'?</summary>
                  <div class="panel panel-border-narrow" id="details-content-0" style="margin-bottom: 30px">
                    Most standard bank accounts have an account number and a sort code. But some building society accounts also have a roll number - a reference code with letters and numbers. If you have one, you’ll have used it to make payments.
                  </div>
                </details>

                {% if errors.rollNumber %}<span class="error-message">{{ errors.rollNumber }}</span>{% endif %}

                <label class="block-label form-label" for="rollNumber_1">
                  Yes
                  <input type="radio" id="rollNumber_1" name="rollNumber" value="Yes">
                </label>

                <label class="block-label form-label " for="rollNumber_2">
                  No
                  <input type="radio" id="rollNumber_2" name="rollNumber" value="No">
                </label>
              </fieldset>
            </div>
          </div>

          <div class="inline-button"><input type="submit" class="button" value="Continue" name="submit"></div>


        </form>
      </div>
    </div>

  </div>

{% endblock %}
