{% extends version + "/layout.html" %}

{% block page_title %}
  Make Payment - GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="main" role="main" id="content">
    
    {% include version + '/includes/phase_banner_prototype.html' %}
    
    <div class="grid-row">
      <div class="column-two-thirds">
        <form action="/{{ version }}/make_payment" method="post" class="form" >

          <header>
            <h1 class="heading-xlarge form-title">
              Get a reference sent to your bank account
            </h1>
          </header>

          <p>To find the reference you’ll need to check your bank statement.</p>

          <p>You can use online, mobile or telephone banking. Or go to a cash machine or your branch to get a statement printout.</p>

          <div class="inline-button">
            <input type="submit" class="button" value="OK - send the reference" name="submit">
          </div>

          <div class="exit-link-side inline-button">
            <a href="/{{ version }}/uc_login">Go to Universal Credit sign in</a>
          </div>

        </form>
      </div>
    </div>

  </div>

{% endblock %}
