{% extends version + "/layout.html" %}

{% block page_title %}
  Payment Failed - GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="main" id="content" role="main">
    {% include version + '/includes/phase_banner_prototype.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <form action="/{{ version }}/payment_failed" method="post" class="form">
          <header>
            <h1 class="heading-xlarge form-title ">
              Something’s gone wrong
            </h1>
          </header>
          <p class="lede">
            Sorry, you can’t use this service.
          </p>
          <p>Sign in to Universal Credit to book an appointment at a job centre.</p>

          <div class="exit-link">
            <a href="/{{ version }}/uc_login">Go to Universal Credit sign in</a>
          </div>   
        </form>
      </div>
    </div>
  </div>

{% endblock %}
