{% extends version + "/layout.html" %}

{% block page_title %}
  Use your bank account - GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="main" id="content" role="main">

    {% include version + '/includes/phase_banner_prototype.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <form action="/{{ version }}/reminder" method="post" class="form" >
          <h1 class="heading-xlarge">You'll need to enter your reference within 7 days</h1>
            <p class="lede">When you've found your reference, sign back in to Universal Credit to enter the reference and confirm your identity.</p>
        </form>

        <div style="margin-top: 30px;">
          <h2 class="heading-small">Want to review your task list now?</h2>
          <a href="uc_login">Sign into Universal Credit</a>
        </div>
        
      </div>
    </div>

  </div>

{% endblock %}
