{% extends version + "/layout_UC.html" %}

{% block page_title %}
  Have a roll number - GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="main" role="main" id="content">

    {% include version + '/includes/phase_banner_prototype.html' %}

    <div class="grid-row">
      <div class="column-two-thirds">

        <form action="/{{ version }}/sign_in_continue" method="post" class="form" >

          <header>
            <h1 class="heading-xlarge form-title ">
              Complete your application
            </h1>
          </header>

          <div style="margin-bottom:20px;"class="notice">
            <i class="icon icon-information">
              <span class="visually-hidden">information</span>
            </i>
            <strong class="bold-small">
              Your Universal Credit claim is not yet complete.
            </strong>
          </div>

          <p>To complete your claim, once you've confirmed your identity you need to book an appointment in a Jobcentre.</p>

          <div class="form-group {% if errors.rollNumber %}form-group-error{% endif %}">
            <div>
              <fieldset class="form-group">
                <legend class="form-label-bold">
                  What do you want to do next?
                </legend>

                <label class="block-label form-label " for="rollNumber_1">
                  I've confirmed my identity online, I want to book an appointment in a Jobcentre
                  <input type="radio" id="rollNumber_1" name="rollNumber" value="book an appointment at a Jobcentre to complete your claim">
                </label>

                <label class="block-label form-label " for="rollNumber_2">
                    I want to continue confirming my identity online
                    <input type="radio" id="rollNumber_2" name="rollNumber" value="confirm your identity online if you haven't done this already">
                  </label>

                <label class="block-label form-label" for="rollNumber_3">
                    I want to book an appointment in a Jobcentre to confirm my identity
                    <input type="radio" id="rollNumber_3" name="rollNumber" value="book an appointment at a Jobcentre to confirm your identity">
                  </label>



              </fieldset>
            </div>
          </div>

          <div class="inline-button"><input type="submit" class="button" value="Continue" name="submit"></div>


        </form>
      </div>
    </div>

  </div>

{% endblock %}
