{% extends version + "/layout.html" %}

{% block page_title %}
  Reference number accepted - GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="main" id="content" role="main">
    {% include version + '/includes/phase_banner_prototype.html' %}

    <div class="govuk-box-highlight incomplete">
      <h2 class="heading-medium">Reference confirmed</h2>
      <p>We've confirmed your reference, but your claim is not yet complete.</p>
    </div>

    <h1 class="heading-medium">What happens next</h1>
      <p>To complete your claim, you still need to book an apppointment in the Jobcentre.</p>


    <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <p>
        <strong class="bold-small">
          If you don't attend an appointment by 25 June 2018, you may need to start your claim again.
        </strong>
      </p>
    </div>
    <a role="button" class="button" type="submit" href="uc_login">Book appointment</a>
  </div>

{% endblock %}
