{% extends version + "/layout.html" %}

{% block page_title %}
  Make Payment - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.make_payment %}

    <div class="main" role="main" id="content">
    {{ elements.banner() }}

    {{ elements.openGridForm('make_payment') }}
    {{ elements.header(content) }}
    {{ elements.content(content.text) }}

     <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Bank Name
          </dt>
          <dd class="cya-answer">
            NatWest
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Account Name
          </dt>
          <dd class="cya-answer">
            Mr A N Person
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Account Number
          </dt>
          <dd class="cya-answer">
            98989898
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Sort Code
          </dt>
          <dd class="cya-answer">
            12-12-12
          </dd>
        </div>
      </dl>

      {{ elements.content(content.text2) }}

      {{ elements.content(content.text3) }}



      {{ elements.continue(content) }}

    {{ elements.closeGridForm() }}
    </div>

{% endfor %}
{% endfor %}
{% endblock %}
