{% extends version + "/layout.html" %}

{% block page_title %}
  Agent Search - GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="main" role="main" id="content">       
  {% include version + '/includes/phase_banner_prototype.html' %}
    <div class="grid-row">
      <div class="column-two-thirds">
        {% if errors %}
          <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
              There's a problem
            </h2>
            <p>You must:</p>
            <ul class="error-summary-list">
              {% for id, error in errors %}
                <li><a href="#{{ id }}">{{ error }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <form action="/pyi18a/agent_search" method="post" class="form">  
          <header>
            <h1 class="heading-xlarge form-title ">
              Find claimant
            </h1>
          </header> 
          <div class="form-group {% if errors.claimantId %} form-group-error {% endif %}" id="form-group-claimantId">
            <label class="form-label-bold" for="claimantId">
              Claimant ID - the URL at the top of the customer claim details view
              {% if errors.claimantId %}<span class="error-message">{{ errors.claimantId }}</span>{% endif %}
            </label>
            <input id="claimantId" type="text" class="form-control form-control-1-2" name="claimantId" value="">
          </div>
          <div class="form-group {% if errors.partialBankAccountNumber %} form-group-error {% endif %}" id="form-group-partialBankAccountNumber">
            <label class="form-label-bold" for="partialBankAccountNumber">
              Last 4 digits of bank account number in the final declaration – bank details view
              {% if errors.partialBankAccountNumber %}<span class="error-message">{{ errors.partialBankAccountNumber }}</span>{% endif %}
            </label>
            <input id="partialBankAccountNumber" type="text" class="form-control form-control-1-2" name="partialBankAccountNumber" value="">
          </div>
          <div class="form-group {% if errors.sortCode %} form-group-error {% endif %}" id="form-group-sortCode">
            <label class="form-label-bold" for="sortCode">
              Sort code in the final declaration – bank details view
              {% if errors.sortCode %}<span class="error-message">{{ errors.sortCode }}</span>{% endif %}
            </label>
            <input id="sortCode" type="text" class="form-control form-control-1-2" name="sortCode" value="">
          </div>

          <div><input type="submit" class="button" value="Search" name="submit"></div>

          <div class="exit-link"><a href="/pyi18a/agent_search">Clear information and start again</a></div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
