{% extends version + "/layout.html" %}

{% block page_title %}
    Reference not recognised - GOV.UK prototype kit
{% endblock %}

{% block content %}

    <div class="main" id="content" role="main">
        {% include version + '/includes/phase_banner_prototype.html' %}

        <div class="grid-row">
            <div class="column-two-thirds">
                <form action="/pyi18a/get_documents" method="post" class="form" >
      
                <header>
                    <h1 class="heading-xlarge form-title ">
                    Sorry, you can&#39;t use this service
                    </h1>
                </header>
                <p class="lede ">
                    Your 7 days to link your bank account has run out.
                </p>
        
                <p>To complete your Universal Credit claim, you&#39;ll need to:</p>
                
                <ul class="list list-bullet">
                    <li>book your interview at a Jobcentre</li>
                    <li>bring some identity documents with you </li>
                </ul>
        
                <p>We&#39;ll tell you what you can bring when you book.</p>
            
                <a class="button" role="button" href="get_documents">Book your interview</a> 
            </div>
        </div>
    </div>

{% endblock %}
