{% extends version + "/layout.html" %}

{% block page_title %}
  Use your bank account - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.reminder %}

  <div class="main" id="content" role="main">
  {{ elements.banner() }}

  {{ elements.backlink() }}

  {{ elements.openGridForm('uc_login') }}

    {{ elements.heading('1', 'xlarge', content.heading) }}
    {{ elements.content(content.lede,'','',true) }}

    {{ elements.content(content.text) }}
    {{ elements.content(content.text2) }}

    {{ elements.continue(content, 'ucfs_task_list?task=4', side = false) }}

  {{ elements.closeGridForm() }}
  </div>

{% endfor %}
{% endfor %}
{% endblock %}
