{% extends version + "/layout.html" %}

{% block page_title %}
  Prove Your Identity - Sorry you'll have to start again
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.session_expired %}

<div class="main" id="content" role="main">
{{ elements.banner() }}

    {{ elements.openGridForm('session_expired') }}

        {{ elements.header(content) }}
        {{ elements.continue(content, 'uc_login') }}


    {{ elements.closeGridForm() }}
</div>

{% endfor %}
{% endfor %}
{% endblock %}