{% extends version + "/layout.html" %}

{% block page_title %}
  Reference number accepted - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.success %}

<div class="main" id="content" role="main">
  {{ elements.banner() }}

{{ elements.openGridForm('book_interview') }}
  <div class="govuk-box-highlight">
    <h1 style="margin-bottom: 15px;" class="heading-xlarge">
      {{ content.heading }}
    </h1>
    {#<p class="font-large">
      Your reference number is <br>
      <strong class="bold">HDJ2123F</strong>
    </p>#}
  </div>
  
  {{ elements.heading(type='2', size='medium', content=content.heading2) }}

  {{ elements.content(content.text )}}
  {{ elements.unorderedList(listItems = content.listItems) }}

  {{ elements.content(content.text2 )}}


  {{ elements.continue(content)}}

{{ elements.closeGridForm() }}
</div>

{% endfor %}
{% endfor %}
{% endblock %}
