{% extends "layout.html" %}

{% block page_title %}
  Index page - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import "ucca2/macros/elements.html" as elements %}

<div class="index-page-banner">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge">UC - Prove your identity</h1>
    <h2 class="heading-large index-heading-large">Prototypes</h2>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      {{ elements.current(content.pyi9.version, content.pyi9.release, '/pyi9/to_do_page', content.pyi9.changes, '#', '0Kb') }}

      <div class="older-versions">
        <h3 class="heading-medium index-heading-medium">Older versions</h3>
        <details open>
          <summary class="older-toggle">Toggle older versions</summary>
          {{ elements.older(content.pyi8.version, content.pyi8.release, '/pyi8/to_do_page', content.pyi8.changes, '#', '0kb')}}
          {{ elements.older(content.pyi7.version, content.pyi7.release, '/pyi7/to_do_page', content.pyi7.changes, '#', '0Kb') }}
          {{ elements.older(content.pyi6.version, content.pyi6.release, '/pyi6/to_do_page', content.pyi6.changes, '#', '0Kb') }}
          {{ elements.older(content.pyi5.version, content.pyi5.release, '/pyi5/to_do_page', content.pyi5.changes, '#', '0Kb') }}
          {{ elements.older(content.pyi4.version, content.pyi4.release, '/pyi4/to_do_page', content.pyi4.changes, '#', '0Kb') }}
          {{ elements.older(content.pyi3.version, content.pyi3.release, '/pyi3/to_do_page', content.pyi3.changes, '#', '0Kb') }}
          {{ elements.older(content.ucca2.version, content.ucca2.release, '/ucca2/to_do_page', content.ucca2.changes, '#', '0Kb') }}
          {{ elements.older(content.ucca1.version, content.ucca1.release, '/ucca1/to_do_page', content.ucca1.changes, '#', '0Kb') }}
        </details>

      </div>

    </div>

  </div>
</main>

{% endblock %}
