{% extends "layout.html" %}

{% block page_title %}
  Index page - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import "ucca2/macros/elements.html" as elements %}

<div class="index-page-banner">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge">UC - Prove your identity</h1>
    <h2 class="heading-large index-heading-large">Prototypes</h2>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      {{ elements.current(content.pyi12a.version, content.pyi12a.release, '/pyi12a/to_do_page', content.pyi12a.changes, content.pyi12a.researchFindings, '0Kb') }}
      <br />
      <br />
      {{ elements.current(content.pyi12b.version, content.pyi12b.release, '/pyi12b/to_do_page', content.pyi12b.changes, content.pyi12b.researchFindings, '0Kb') }}

      <div class="older-versions">
        <h3 class="heading-medium index-heading-medium">Older versions</h3>
        {{ elements.older(content.pyi11.version, content.pyi11.release, '/pyi11/to_do_page', content.pyi11.changes, content.pyi11.researchFindings, '0Kb') }}
        {{ elements.older(content.pyi10.version, content.pyi10.release, '/pyi10/to_do_page', content.pyi10.changes, content.pyi10.researchFindings, '0Kb') }}
        {{ elements.older(content.pyi9.version, content.pyi9.release, '/pyi9/to_do_page', content.pyi9.changes, content.pyi9.researchFindings, '0Kb') }}
        {{ elements.older(content.pyi8.version, content.pyi8.release, '/pyi8/to_do_page', content.pyi8.changes, content.pyi8.researchFindings, '0kb')}}
        {{ elements.older(content.pyi7.version, content.pyi7.release, '/pyi7/to_do_page', content.pyi7.changes, content.pyi7.researchFindings, '0Kb') }}
        {{ elements.older(content.pyi6.version, content.pyi6.release, '/pyi6/to_do_page', content.pyi6.changes, content.pyi6.researchFindings, '0Kb') }}
        {{ elements.older(content.pyi5.version, content.pyi5.release, '/pyi5/to_do_page', content.pyi5.changes, content.pyi5.researchFindings, '0Kb') }}
        {{ elements.older(content.pyi4.version, content.pyi4.release, '/pyi4/to_do_page', content.pyi4.changes, content.pyi4.researchFindings, '0Kb') }}
        {{ elements.older(content.pyi3.version, content.pyi3.release, '/pyi3/to_do_page', content.pyi3.changes, content.pyi3.researchFindings, '0Kb') }}
        {{ elements.older(content.ucca2.version, content.ucca2.release, '/ucca2/to_do_page', content.ucca2.changes, content.ucca2.researchFindings, '0Kb') }}
        {{ elements.older(content.ucca1.version, content.ucca1.release, '/ucca1/to_do_page', content.ucca1.changes, content.ucca1.researchFindings, '0Kb') }}

      </div>

    </div>

  </div>
</main>

{% endblock %}
