{% extends version + "/layout.html" %}

{% block page_title %}
  Find your reference - GOV.UK prototype kit
{% endblock %}

{% block content %}
  {% import version + "/macros/elements.html" as elements %}
  {% for page in data %}
    {% for content in page.bank_submitted %}

      <div class="main" id="content" role="main">
        {{ elements.banner() }}

        {{ elements.openGridForm('bank_submitted') }}
          {{ elements.header(content) }}
          {{ elements.checkYourAnswers(content.checkYourAnswersList)}}
          <br />
          {#{ elements.helpImage('','','/public/images/Example_transaction_v2.png',content.altText) }#}
          {{ elements.content(content.text2) }}
          
          {{ elements.continue(content) }}
      <details>
        <summary class="summary" style="margin-top: 15px;">I can't find my reference</summary>
        <div class="panel panel-border-narrow" id="details-content-0">
          <p>Check you’re looking in the correct bank account. This is the account we’ve sent your reference to:</p>
          {{ elements.checkYourAnswers(content.checkYourAnswersList)}}
          <p style="margin-top: 20px;">Look for a 1p payment from Universal Credit on your bank statement. The payment will show a 6 digit code, for example 12 34 56.</p>
          <p style="margin-top: 20px;">Allow up to 2 hours after requesting a reference for it to appear in your bank account.</p>
          <h2 class="heading-small" style="margin-top: 20px;">Still having problems?</h2>
          <p>
            You can only generate 1 reference, so you’ll now need to 
              <a href="get_documents">confirm your identity in the Jobcentre.</a>
          </p>
        </div>
      </details>

      <div style="margin-top: 30px;">
        <h2 class="heading-small">Cannot get your reference now?</h2>
        <a href="reminder">{{ content.link2 }}</a>
      </div> 



        {{ elements.closeGridForm() }}
      
      </div>

    {% endfor %}
  {% endfor %}
{% endblock %}
