{% extends version + "/layout.html" %}

{% block page_title %}
  Find your reference - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.bank_submitted %}

    <div class="main" id="content" role="main">
    {{ elements.banner() }}

    {{ elements.openGridForm('bank_submitted') }}
      {{ elements.header(content) }}

      {{ elements.notice('information', content.information) }}

      {{ elements.content(content.text) }}

      <details>
        <summary class="summary">{{ content.summary }}</summary>
          <div class="panel panel-border-narrow" id="details-content-0">
            <p>{{ content.details1 }}</p>
            <p>{{ content.details2 }}</p>
            <p>{{ content.details3 }}</p>
          </div>
      </details>



      {{ elements.checkYourAnswers(content.checkYourAnswersList)}}

      {#{ elements.helpImage('','','/public/images/Example_transaction_v2.png',content.altText) }#}
      <p style="margin-top: 30px;">{{ content.text1 }}</p>
      {{ elements.content(content.text2) }}


      {{ elements.continue(content,'reminder', side = false) }}
      <div style="margin-top: 20px;">
        <a href = "/{{ version }}/get_documents">{{ content.exitLink2 }}</a>
      </div>

    {{ elements.closeGridForm() }}
    </div>

  {% endfor %}
    {% endfor %}
      {% endblock %}
