{% extends version + "/layout.html" %}

{% block page_title %}
  Book interview - GOV.UK prototype kit
{% endblock %}

{% block content %}

    <div class="main" id="content" role="main">
        <div class="column-two-thirds">
            {% include version + '/includes/phase_banner_prototype.html' %}
        
            <header>
                <h1 class="heading-xlarge form-title ">
                    Book your interview
                </h1>
            </header>

            <p>To complete your claim, you&#39;ll need to book and attend an interview</p>     
            <div class="panel with-icon fa-phone">
                <p><span class="lede">Call to book</span><br/>
                <span id="interview-telephone-number" class="bold-large">0800 328 5644 (Textphone: 0800 328 1344)</span><br/>
                Monday to Friday, 8am to 6pm</p>
            </div>
            <p>You&#39;ll be asked for your National Insurance Number when you call</p>
            <p>Book as soon as you can or you might have to start again</p>
        </div>
    </div>

{% endblock %}
