{% extends version + "/layout.html" %}

{% block page_title %}
  Make Payment - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.make_payment %}

    <div class="main" role="main" id="content">
      {{ elements.banner() }}

      {{ elements.openGridForm('make_payment') }}
        {{ elements.header(content) }}
        {{ elements.content(content.text) }}

        {{ elements.checkYourAnswers(content.checkYourAnswersList)}}
        
        <p style = "margin-top: 30px;"> {{ content.text2 }}</p>

        {{ elements.content(content.text3) }}

        {{ elements.continue(content) }}

      {{ elements.closeGridForm() }}
    </div>

{% endfor %}
{% endfor %}
{% endblock %}
