{% extends version + "/layout.html" %}

{% block page_title %}
  Payment Failed - GOV.UK prototype kit
{% endblock %}

{% block content %}
{% import version + "/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.payment_failed %}

<div class="main" id="content" role="main">
{{ elements.banner() }}

    {{ elements.openGridForm('get_documents') }}

        {{ elements.header(content) }}
        {{ elements.content(content.text )}}
        {{ elements.unorderedList(listItems = content.listItems) }}

        {{ elements.content(content.text2 )}}

        {{ elements.continue(content) }} 

    {{ elements.closeGridForm() }}
</div>

{% endfor %}
{% endfor %}
{% endblock %}
