{% extends version + "/layout.html" %}

{% block page_title %}
  Prove your identity - GOV.UK prototype kit
{% endblock %}

{% block content %}

{% import "pyi14/macros/elements.html" as elements %}
{% for page in data %}
{% for content in page.verify_identity %}

<div class="main" id="content" role="main">
    {{ elements.banner() }}
    {{ elements.toDoSection() }}
    {{ elements.openGridForm('verify_identity') }}


        {{ elements.heading('3', 'interim', content.toDoTask) }}
        {{ elements.header(content) }}
        {{ elements.radioButtons('howVerify', '', '', content.radios) }}

        <input class="button button-break" type="submit" name="submit" value="Next">
        <div class="exit-link-side inline-button"><a href="/pyi13/to_do_page">Go back to to-do list</a></div>



{{ elements.closeGridForm() }}
</div>
    {% endfor %}
    {% endfor %}
    {% endblock %}
